{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Download Movie</title>{% endblock %}

{% block banner %}
<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row" style="padding-bottom: 50px; padding-top: 60px;">
        <div class="col-xs-8 col-xs-offset-2">
        <div class="col-sm-4">
                <div class="input-group-lg">
                    <select name="option" class="form-control" required>
                        <!--option selected disabled>Select option...</option-->
                        <option value="-t">By Name</option>
                        <option value="-s">All</option>
                    </select>
                </div>
        </div>

            <div class="col-sm-8">
        <div class="input-group input-group-lg">

                <input type="text" name="search" class="form-control" placeholder="Search movie..." required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
        </div>
        </div>
    </form>
	</div>
</div>
{% endblock %}
{% block general %}{% endblock %}
