{% extends "base.html" %}
{% load staticfiles %}

{% block slider %}

<!-- banner -->
	<div id="slidey" style="display:none;">
		<ul>
            {% for best_rated_movie in best_rated_movie_0 %}
			    <li><img src="{{ best_rated_movie.img.url }}" alt="{{ best_rated_movie.title }}"><h1 class="rate">{{ best_rated_value_0|floatformat:1 }} / 10</h1><h1 class='title'>{{ best_rated_movie.title }}</h1><p class='description'>{{ best_rated_movie.detail }}</p></li>
            {% endfor %}
			{% for best_rated_movie in best_rated_movie_1 %}
			    <li><img src="{{ best_rated_movie.img.url }}" alt="{{ best_rated_movie.title }}"><h1 class="rate">{{ best_rated_value_1|floatformat:1 }} / 10</h1><h1 class='title'>{{ best_rated_movie.title }}</h1><p class='description'>{{ best_rated_movie.detail }}</p></li>
            {% endfor %}
            {% for best_rated_movie in best_rated_movie_2 %}
			    <li><img src="{{ best_rated_movie.img.url }}" alt="{{ best_rated_movie.title }}"><h1 class="rate">{{ best_rated_value_2|floatformat:1 }} / 10</h1><h1 class='title'>{{ best_rated_movie.title }}</h1><p class='description'>{{ best_rated_movie.detail }}</p></li>
            {% endfor %}
            {% for best_rated_movie in best_rated_movie_3 %}
			    <li><img src="{{ best_rated_movie.img.url }}" alt="{{ best_rated_movie.title }}"><h1 class="rate">{{ best_rated_value_3|floatformat:1 }} / 10</h1><h1 class='title'>{{ best_rated_movie.title }}</h1><p class='description'>{{ best_rated_movie.detail }}</p></li>
            {% endfor %}
            {% for best_rated_movie in best_rated_movie_4 %}
			    <li><img src="{{ best_rated_movie.img.url }}" alt="{{ best_rated_movie.title }}"><h1 class="rate">{{ best_rated_value_4|floatformat:1 }} / 10</h1><h1 class='title'>{{ best_rated_movie.title }}</h1><p class='description'>{{ best_rated_movie.detail }}</p></li>
            {% endfor %}
		</ul>
    </div>
<!-- //banner -->
{% endblock %}
{% block single %}{% endblock %}
