{% load static %}
{% block title %}<title>List Report</title>{% endblock %}
{% block banner %}
<div class="container">
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Runtime</th>
            <th scope="col">Poster</th>
            <th scope="col">Country</th>
            <th scope="col">Detail</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
        {% if movie_list %}
            {% for movie in movie_list %}
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
                <tr>
                    <th scope="row">{{ movie.id }}</th>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.runtime }}</td>
                    <td>{{ movie.poster }}</td>
                    <td>{{ movie.country }}</td>
                    <td>{{ movie.detail }}</td>
                    <td>{{ movie.genre }}</td>
                </tr>
            {% endfor %}

        {% else %}
            <h1>No hay registros</h1>
        {% endif %}

    </tbody>
  </table>
</div>
{% endblock %}
